<div class="row">
  <div class="col">
    <app-custom-table
      [header]="tableHeader"
      [menus]="getMenus()"
      [isLoading]="isLoading"
      (actualiser)="getCandidatInterview()"
      (rowClicked)="openInterview(contentInterview, $event)"
      [tableHeader]="[
  'Nom',
  'Prénoms',
  'Genre',
  'Zone',
  'District',
  'Interviewé',
  ]"
      [tableRow]="[
  'nomCandidat',
  'prenomsCandidat',
  'libelleGenre',
  'zoneInscription',
  'districtInscription',
  {isIcon: true, libelle : 'statusVal'}
  ]"
      [tableData]="allApplicants"
      [searchList]="allApplicants"
    ></app-custom-table>

  </div>
<!--  <div  class="col-3">-->
<!--    <div class="card h-100">-->
<!--      <div class="card-body row">-->
<!--        <div (click)="openInfo(contentInfo)" class="d-flex m-auto" style="width: max-content">-->
<!--          &lt;!&ndash;        <div style="">&ndash;&gt;-->
<!--          <img width="200" height="200" src="assets/images/avatars/1.jpg" alt="" class="rounded mx-auto d-block"/>-->
<!--          &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        </div>-->
<!--        <ul class="list-group d-flex m-auto">-->
<!--          <h5 (click)="openInfo(contentInfo)" class="text-center font-weight-bold">N'GUESSAN Kouadio Hervé</h5>-->
<!--          <circle-progress-->
<!--            [percent]="85"-->
<!--            class="list-group d-flex m-auto"-->
<!--            [radius]="100"-->
<!--            [outerStrokeWidth]="16"-->
<!--            [innerStrokeWidth]="8"-->
<!--            [outerStrokeColor]="'#008220'"-->
<!--            [innerStrokeColor]="'#85c55c'"-->
<!--            [animation]="true"-->
<!--            [animationDuration]="300"-->
<!--            (click)="openInterview(contentInterview)"-->
<!--          ></circle-progress>-->
<!--        </ul>-->
<!--        <button (click)="openInterview(contentInterview)" class="btn btn-outline-info  m-auto p-0 m-0">-->
<!--          Voir questionnaire-->
<!--        </button>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

<ng-template #contentInterview let-offcanvas>
  <app-interview-details *ngIf="currentApplicant" [candidatInterview]="currentApplicant" (validateClick)="confirmValidation()"></app-interview-details>
</ng-template>


<!--<ng-template #contentInfo let-offcanvas>-->
<!--  <app-info-applicant *ngIf="currentApplicant" [candidatInfo]="currentApplicant" ></app-info-applicant>-->
<!--</ng-template>-->
