<div class="row">
  <div class="col-md-9">
    <app-custom-table
      [header]="tableHeader"
      [menus]="getMenus()"
      [tableHeader]="[
  'Nom et prénoms',
  'Heure de réveil',
  'Heure de couché ',
  'Occupation de la journée',
  'Peur de l’obscurité',
  'Sportif',
  'Longue distance effectuée',
  'Monter à vélo',
  'Présence dans une plantation',
  ]"
      [tableRow]="[
  'name_surname',
  'h_reveil',
  'h_couche',
  'occupation',
  'obscurité',
  'sportif',
  'distance',
  'velo',
  'plantation',
  ]"
      [tableData]="allApplicants"
    ></app-custom-table>

  </div>
  <div class="col-md" style="z-index: -1 !important;">
    <div class="card h-80">
      <div class="card-body row">
        <div (click)="openInfo(contentInfo)" class="d-flex m-auto" style="width: max-content">
          <!--        <div style="">-->
          <img width="200" height="200" src="assets/images/avatars/1.jpg" alt="" class="rounded mx-auto d-block"/>
          <!--        </div>-->
        </div>
        <ul class="list-group">
          <h5 (click)="openInfo(contentInfo)" class="text-center font-weight-bold">N'GUESSAN Kouadio Hervé</h5>
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            (click)="openInterview(contentInterview)"
          ></circle-progress>
        </ul>
        <button (click)="openInterview(contentInterview)" class="btn btn-outline-info  m-auto p-0 m-0">
          Voir questionnaire
        </button>

      </div>
    </div>
  </div>
</div>

<ng-template #contentInterview let-offcanvas>
  <app-interview-details (openInfo)="openInfo(contentInfo)"></app-interview-details>
</ng-template>


<ng-template #contentInfo let-offcanvas>
  <app-info-applicant></app-info-applicant>
</ng-template>
