<div class="row">
  <div class="col-md">
    <app-custom-table
      [header]="tableHeader"
      (actualiser)="getListCandidat(false)"
      (rowClicked)="tableRowClicked($event, false)"
      [tableHeader]="[
        'Nom',
        'Prénoms',
        'Genre',
        'Zone',
        'District',
        ]"
      [tableRow]="[
        'nomCandidat',
        'prenomsCandidat',
        'genreCandidat',
        'zoneInscription',
        'districtInscription',
        ]"
      [tableData]="allApplicants"
      [searchList]="allApplicants"
    >
      <label class="h5 text-black">Candidats non sélectionnés</label>
    </app-custom-table>
    <hr>
    <app-custom-table
      [withoutHeader]="true"
      (actualiser)="getListCandidat(true)"
      (rowClicked)="tableRowClicked($event, true)"
      [tableHeader]="[
        'Nom',
        'Prénoms',
        'Genre',
        'Zone',
        'District',
        ]"
      [tableRow]="[
        'nomCandidat',
        'prenomsCandidat',
        'genreCandidat',
        'zoneInscription',
        'districtInscription',
        ]"
      [tableData]="allApplicantsSelected"
      [searchList]="allApplicantsSelected"
    >
      <label class="h5 font-weight-bold text-primary">Candidats sélectionnés</label>
    </app-custom-table>
  </div>
  <div class="col-md-3 col-sm-12" *ngIf="currentCandidat && currentCandidat.candidat && currentCandidat.candidat.nomCandidat">
    <app-info-applicant (retirerClick)="retirerCandidat($event)" (validateClick)="confirmValidation($event)"
                        [btnIs]="btnToShow" [candidatInfo]="currentCandidat"></app-info-applicant>
  </div>
</div>

<!--<ng-template #content let-offcanvas>-->
<!--  <app-info-applicant [candidatInfo]="currentCandidat"></app-info-applicant>-->
<!--</ng-template>-->
