<app-custom-table
  [header]="tableHeader"
  [isLoading]="isLoading"
  [menus]="getMenus()"
  (actualiser)="getAllUser()"
  [tableHeader]="[
  'Nom',
  'Prénoms',
  'Téléphone',
  'Login',
  'Poste',
  'District',
  ]"
  [tableRow]="[
  'nomUtilisateur',
  'prenomsUtilisateur',
  'telephoneUtilisateur',
  'username',
  'posteActuel',
  'district',
  ]"
  [tableData]="allUsers"
  [searchList]="allUsers"
></app-custom-table>


<button id="btnmodalposte" class="d-none" (click)="openModal(addposte)"></button>
<ng-template id="addposte" #addposte>
  <div class="modal-header">
    <h4 class="modal-title">Attribution de poste</h4>
    <button type="button" (click)="modalService.dismissAll()" class="btn-close" aria-label="Close" ></button>
  </div>
  <form [formGroup]="posteFormGroupe">
    <div class="modal-body">
      <div class="row g-2">
        <div class="form-floating">
                          <ng-select
                             [items]="allPoste"
                             required
                            formControlName="poste"
                            placeholder="Sélectionner un poste"
                            bindLabel="libellePoste"
                            class="form-select"
                            id="poste">

                          </ng-select>
          <label for="poste">Poste de l'utilisateur</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="form-floating">
            <input formControlName="motifOccuper" type="text" class="form-control" id="description"
                   placeholder="Entrez un motif pour cette attribution"
                   value="">
            <label for="description">Motif</label>
          </div>
        </div>

        <div class="col-md-6 mt-2">
          <div class="form-floating">
            <input formControlName="dateOccuper" type="date" class="form-control" id="dateOccuper"
                   placeholder="Date"
                   value="">
            <label for="dateOccuper">Date de poste</label>
          </div>
        </div>

        <div *ngIf="posteFormGroupe && posteFormGroupe.controls['zoneOccuper'] && posteFormGroupe.controls['zoneOccuper'].value" class="col-md mt-2">
          <div class="form-floating">
            <!--                         [value]="posteSelected?.libelleZone"-->
            <input formControlName="zoneOccuper"
                   readonly type="text" class="form-control" id="Departement"
                   placeholder="Zone du poste"
                   value="Zone">
            <label for="Departement">Zone</label>
          </div>
        </div>

        <div class="col-md mt-2" *ngIf="posteFormGroupe && posteFormGroupe.controls['districtOccuper'] && posteFormGroupe.controls['districtOccuper'].value" >
          <div class="form-floating">
            <!--                         [value]="posteSelected?.district?.libelleDistrict"-->
            <input formControlName="districtOccuper" readonly type="text" class="form-control" id="District"
                   placeholder="District"
                   value="District">
            <label for="District">District</label>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="submit"  class="btn btn-outline-success" (click)="savePoste()">Attribuer</button>
      <button type="button" class="btn btn-outline-danger" (click)="modalService.dismissAll()">Fermer</button>
    </div>
  </form>
</ng-template>


<button id="btnmodal" class="d-none" (click)="openModal(nwuser)"></button>

<ng-template id="nwuser" #nwuser>
  <div class="modal-header">
    <h4 class="modal-title">Edition d'utilisateur</h4>
    <button type="button" (click)="modalService.dismissAll()" class="btn-close" aria-label="Close"></button>
  </div>
  <form [formGroup]="formGroup">
    <div class="modal-body">
      <!--    <h6><b>IDENTITE</b></h6>-->
      <div class="tab-pane border p-2">
        <div class="row g-2">
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text"
                     formControlName="nomUtilisateur"
                     required
                     class="form-control text-uppercase" id="name"
                     placeholder="Nom" value="">
              <label for="name">Nom<span class="badge-pill badge text-danger">*</span></label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <input formControlName="prenomsUtilisateur" type="text" class="form-control text-capitalize" id="surname"
                     placeholder="Prénoms" required value="">
              <label for="surname">Prénoms<span class="badge-pill badge text-danger">*</span></label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <input required [readOnly]="currentUser && currentUser.username"  formControlName="username" type="text" class="form-control" id="login" placeholder="Login"
                     value="">
              <label for="login">Login<span class="badge-pill badge text-danger">*</span> </label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <!--             <ngb-datepicker #d [startDate]="{year: 1789, month: 7}"></ngb-datepicker>-->
              <input formControlName="telephoneUtilisateur" type="text" class="form-control" id="tel" placeholder="Téléphone" value="">
              <label for="tel">Téléphone</label>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-floating">
              <input type="password"
                     required
                     formControlName="password"
                     class="form-control" id="password" placeholder="Password" value="">
              <label for="password">Mot de passe<span class="badge-pill badge text-danger">*</span></label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <input type="password"
                     formControlName="confPassword"
                     required
                     class="form-control" id="confpassword" placeholder="Confirmez le mot de passe"
                     value="">
              <label for="confpassword">Confirmez le mot de passe<span class="badge-pill badge text-danger">*</span></label>
            </div>
          </div>
          <small class="text-danger" *ngIf="this.formGroup.controls['confPassword'].value !== this.formGroup.controls['password'].value">
            * Les mots de passe ne sont pas identiques</small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="formGroup.invalid || this.formGroup.controls['confPassword'].value !== this.formGroup.controls['password'].value" class="btn btn-outline-success" (click)="saveUser()">Enregistrer</button>
      <button type="reset" class="btn btn-outline-danger" (click)="modalService.dismissAll()">Fermer</button>
    </div>
  </form>
</ng-template>
