.form-floating > .form-select {
  padding-top: 1em !important;
}
::ng-deep {
  .ng-select .ng-select-container {
    border: unset !important;
  }
  .ng-select.ng-select-opened>.ng-select-container {
    background: unset !important;
  }
  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: unset !important;
    box-shadow: unset !important;
  }
}

.form-select{
  background-image: unset !important;
  padding: unset !important;
}
