<app-custom-table
  [header]="tableHeader"
  [isLoading]="isLoading"
  [menus]="getMenus()"
  (actualiser)="getAllUser()"
  [tableHeader]="[
  'Nom',
  'Prénoms',
  'Téléphone',
  'Login',
  'Poste',
  ]"
  [tableRow]="[
  'nomUtilisateur',
  'prenomsUtilisateur',
  'tel',
  'username',
  'posteActuel'
  ]"
  [tableData]="allUsers"
></app-custom-table>


<button id="btnmodalposte" class="d-none" (click)="openModal(addposte)"></button>
<ng-template id="addposte" #addposte>
  <div class="modal-header">
    <h4 class="modal-title">Attribution de poste</h4>
    <button type="button" (click)="close()" class="btn-close" aria-label="Close" ></button>
  </div>
  <form [formGroup]="posteFormGroupe">
    <div class="modal-body">
      <div class="row g-2">
        <div class="form-floating">
                          <ng-select
                             [items]="allPoste"
                            formControlName="poste"
                            placeholder="Sélectionner un poste"
                            bindLabel="libellePoste"
                            class="form-select"
                            id="poste">

                          </ng-select>
          <label for="poste">Poste de l'utilisateur</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="savePoste()">Attribuer</button>
      <button type="button" class="btn btn-outline-danger" (click)="modalService.dismissAll()">Fermer</button>
    </div>
  </form>
</ng-template>


<button id="btnmodal" class="d-none" (click)="openModal(nwuser)"></button>

<ng-template id="nwuser" #nwuser>
  <div class="modal-header">
    <h4 class="modal-title">Edition d'utilisateur</h4>
    <button type="button" (click)="modalService.dismissAll()" class="btn-close" aria-label="Close"></button>
  </div>
  <form [formGroup]="formGroup">
    <div class="modal-body">
      <!--    <h6><b>IDENTITE</b></h6>-->
      <div class="tab-pane border p-2">
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="text"
                     formControlName="nomUtilisateur"
                     class="form-control" id="name"
                     placeholder="Nom" value="">
              <label for="name">Nom</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input formControlName="prenomsUtilisateur" type="text" class="form-control" id="surname"
                     placeholder="Prénoms" value="">
              <label for="surname">Prénoms</label>
            </div>
          </div>

          <!--          <div class="row g-2">-->
          <!--            <div class="col-md">-->
          <!--              <div class="form-floating">-->
          <!--                <input type="text" class="form-control" id="level" placeholder="Email" value="">-->
          <!--                <label for="level">Email </label>-->
          <!--              </div>-->
          <!--            </div>-->

          <!--            <div class="col-md">-->
          <!--              <div class="form-floating">-->
          <!--                &lt;!&ndash;             <ngb-datepicker #d [startDate]="{year: 1789, month: 7}"></ngb-datepicker>&ndash;&gt;-->
          <!--                <input type="text" class="form-control" id="job" placeholder="Métier actuel" value="">-->
          <!--                <label for="job">Téléphone</label>-->
          <!--              </div>-->
          <!--            </div>-->


          <!--            <div class="col-md">-->
          <!--              <div class="form-floating">-->
          <!--                <select class="form-select" id="zone" aria-label="Zone">-->
          <!--                  <option value="z1" selected>Zone 1</option>-->
          <!--                  <option value="z2">Zone 2</option>-->
          <!--                </select>-->
          <!--                <label for="zone">Zone</label>-->
          <!--              </div>-->
          <!--            </div>-->

          <!--          </div>-->
          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input formControlName="username" type="text" class="form-control" id="login" placeholder="Login"
                       value="">
                <label for="login">Login </label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <!--             <ngb-datepicker #d [startDate]="{year: 1789, month: 7}"></ngb-datepicker>-->
                <input type="text" class="form-control" id="tel" placeholder="Téléphone" value="">
                <label for="tel">Téléphone</label>
              </div>
            </div>

          </div>
<!--          <div class="row g-2">-->
<!--            <div class="col-md">-->
<!--              <div class="form-floating">-->

<!--                <ng-select-->
<!--                   [items]="allPoste"-->
<!--                  formControlName="poste"-->
<!--                  placeholder="Sélectionner un poste"-->
<!--                  bindLabel="libellePoste"-->
<!--                  class="form-select"-->
<!--                  id="poste">-->

<!--                </ng-select>-->

<!--                &lt;!&ndash;                <select class="form-select" id="profil" &ndash;&gt;-->
<!--                &lt;!&ndash;                        aria-label="Profil">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <option value="z1" selected>Administrateur</option>&ndash;&gt;-->
<!--                &lt;!&ndash;                  <option value="z2">Coordinateur</option>&ndash;&gt;-->
<!--                &lt;!&ndash;                  <option value="z2">TDH</option>&ndash;&gt;-->
<!--                &lt;!&ndash;                  <option value="z2">Secrétaire</option>&ndash;&gt;-->
<!--                &lt;!&ndash;                </select>&ndash;&gt;-->
<!--                <label for="poste">Poste utilisateur</label>-->
<!--              </div>-->
<!--            </div>-->

<!--            &lt;!&ndash;            <div class="col-md">&ndash;&gt;-->
<!--            &lt;!&ndash;              <div class="form-floating">&ndash;&gt;-->
<!--            &lt;!&ndash;                <select class="form-select" id="poste" aria-label="Profil">&ndash;&gt;-->
<!--            &lt;!&ndash;                  &lt;!&ndash;              <option value="z1" selected>Administrateur</option>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;                  &lt;!&ndash;              <option value="z2">Coordinateur</option>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;                  &lt;!&ndash;              <option value="z2">TDH</option>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;                  &lt;!&ndash;              <option value="z2">Secrétaire</option>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;                </select>&ndash;&gt;-->
<!--            &lt;!&ndash;                <label for="poste">Poste</label>&ndash;&gt;-->
<!--            &lt;!&ndash;              </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
          <div class="col-md">
            <div class="form-floating">
              <input type="password"
                     formControlName="password"
                     class="form-control" id="password" placeholder="Password" value="">
              <label for="password">Mot de passe</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="password"
                     formControlName="confPassword"
                     class="form-control" id="confpassword" placeholder="Confirmez le mot de passe"
                     value="">
              <label for="confpassword">Confirmez le mot de passe</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="saveUser()">Enregistrer</button>
      <button type="reset" class="btn btn-outline-danger" (click)="modalService.dismissAll()">Fermer</button>
    </div>
  </form>
</ng-template>
