<div class="btn-group" ngbDropdown placement="bottom-right">
  <button ngbDropdownToggle id="btnPopup">
    <input placeholder="Sélectionner une période"/>
  </button>
  <div ngbDropdownMenu class="m-0">
    <div class="bs-datepicker-body">
      <table role="grid" class="years">
        <tbody>
        <tr class="ng-star-inserted">
          <td role="gridcell" class="ng-star-inserted"><span>2015</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2016</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2017</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2018</span></td>
        </tr>
        <tr class="ng-star-inserted">
          <td role="gridcell" class="ng-star-inserted"><span>2019</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2020</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2021</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2022</span></td>
        </tr>
        <tr class="ng-star-inserted">
          <td role="gridcell" class="ng-star-inserted"><span>2023</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2024</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2025</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2026</span></td></tr>
        <tr class="ng-star-inserted">
          <td role="gridcell" class="ng-star-inserted"><span>2027</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2028</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2029</span></td>
          <td role="gridcell" class="ng-star-inserted"><span>2030</span></td>
        </tr></tbody>
      </table>
    </div>
<!--    <div class="bs-datepicker ng-tns-c203-1 theme-primary ng-star-inserted" ng-reflect-ng-class="theme-primary">-->
<!--      <div class="bs-datepicker-container ng-tns-c203-1 ng-trigger ng-trigger-datepickerAnimation"-->
<!--           style="overflow: hidden;">-->
<!--        <div role="application" class="bs-calendar-container ng-tns-c203-1" ng-reflect-ng-switch="year">-->
<!--                <div class="bs-datepicker-head">-->
<!--                 -->
<!--                </div>-->
<!--               -->
<!--        </div>-->
<!--      </div>-->


    <!--    <div class="card bg-primary">-->
    <!--     <div class="card-header">-->
    <!--       <div class="card-title">-->
    <!--         <div class="row">-->
    <!--           <div class="col-2 text-right">-->
    <!--             <span class="text-white font-weight-bold h3"><</span>-->
    <!--           </div>-->
    <!--           <div class="col text-white text-center justify-content-center d-flex">-->
    <!--            <span class="m-auto">2021 - 2022</span>-->
    <!--           </div>-->
    <!--           <div class="col-2">-->
    <!--             <span class="text-white font-weight-bold h3">></span>-->
    <!--           </div>-->
    <!--         </div>-->
    <!--       </div>-->
    <!--     </div>-->
    <!--      <div class="card-body" style="background: white">-->

    <!--      </div>-->

    <!--    </div>-->
  </div>
</div>
