@import "custom";

.tab-content {
  border: #3E50B4 1px solid !important;
  z-index: unset;
}
.border-0 {
  border: transparent !important;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

::ng-deep .ng-dropdown-panel {
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
}
