//$footer-height: 28px;
//$primary: #149fc8;
//#ffde11
$theme-colors: (
  --bs-primary : #285c05,
  primary:#285c05,
  secondary: #d09e05,
  tertiary: #1423c8,
  dark: #565656,
  danger: #ff0000,
  success: #07cb4b,
  info: #07c6e8,
  warning: #dbb708,
);
$grid-template-columns: 1fr 1fr 1fr;
$grid-column-end: 3
