ng-stepper {



}
input[type = 'checkbox']:checked, input.form-check-input[checked] {
  background-color: var(--bs-primary);
}

::ng-deep {
  .stepper {
    .stepper-body{
      margin: 0 !important;
      padding: 0 !important;
    }
    .step .completed + .step:after {
      background-color: red !important;
    }

    .stepper-header .steps .step.active .step-bullet {
      background-color: var(--bs-primary) !important;
    }
  }
}



//::ng-deep {
//  .ng-select.form-floating > .form-select {
//    padding-top: 1em !important;
//  }
//  .ng-select .ng-select-container {
//    border: unset !important;
//  }
//  .ng-select.ng-select-opened>.ng-select-container {
//    background: unset !important;
//  }
//  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
//    border-color: unset !important;
//    box-shadow: unset !important;
//  }
//  .ng-select .form-select{
//    background-image: unset !important;
//    padding: unset !important;
//  }
//}


@mixin styleStepLine($index) {
  .mat-horizontal-stepper-header {
    &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
      height: 2px;
      background-image: linear-gradient(to right, #00b495, #00aeea);
    }
  }
}
