ng-stepper {



}
input[type = 'checkbox']:checked, input.form-check-input[checked] {
  background-color: var(--bs-primary);
}

::ng-deep {
  .stepper {
    .stepper-body{
      margin: 0 !important;
      padding: 0 !important;
    }
    .step .completed + .step:after {
      background-color: red !important;
    }

    .stepper-header .steps .step.active .step-bullet {
      background-color: var(--bs-primary) !important;
    }
  }
}
