<app-custom-table
  [header]="tableHeader"
  [menus]="getMenus()"
  [isLoading]="isLoading"
  (actualiser)="getCandidatRetenu()"
  [tableHeader]="[
  'Nom',
  'Prénoms',
  'Genre',
  'Zone',
  'District',
  'Points',
  ]"
  [tableRow]="[
  'nomCandidat',
  'prenomsCandidat',
  'libelleGenre',
  'zoneInscription',
  'districtInscription',
  {libelle : 'nbrePoint', class: 'text-center fw-bold'}
  ]"
  [tableData]="allApplicants"
  [searchList]="allApplicants"
>
<!--  <div class="row">-->
<!--    <label class="h5 ml-1 font-weight-bold">-->
<!--    En cours : {{currentCampagne?.libelleCampagne}}-->
<!--    </label>-->
<!--  </div>-->
  <div>
    <label class="h5" >
      <b>En cours :</b> {{currentCampagne?.libelleCampagne}}
    </label>
  </div>
</app-custom-table>

<button (click)="openEnd(contentApplicant)" class="btn btn-outline-info m-auto p-0 m-0">
</button>
<ng-template #contentApplicant let-offcanvas>
  <app-info-applicant *ngIf="currentCandidat" [candidatInfo]="currentCandidat" ></app-info-applicant>
</ng-template>
