<div [class]="'app-sidebar sidebar-shadow  ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
<!--    <div class="logo-src"></div>-->
    <div class="m-auto d-flex" style="width: max-content; height: 4em">
      <img class="img-thumbnail bg-transparent border-0"  src="assets/images/logo.png" alt="Logo" />
    </div>
<!--    <div  class="logo-src font-weight-bold h5">APRO-SAIGNEUR</div>-->
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion *ngFor="let m of menuItems" [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">{{m.libelleMenu}}</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel *ngFor="let m2 of m.children" id="{{m2.menuID}}">
                <ng-template ngbPanelHeader>
                    <button *ngIf="m2.hasSousMenu"  ngbPanelToggle class="vsm-link">
                      <i class="vsm-icon pe-7s-{{m2.iconMenu}}"></i>
                      <span class="vsm-title">{{m2.libelleMenu}}</span>
                      <i class="vsm-arrow"></i>
                    </button>

                  <button *ngIf="!m2.hasSousMenu" routerLinkActive="active-item"  routerLink="{{m2.urlMenu}}" class="vsm-link">
                      <i class="vsm-icon pe-7s-{{m2.iconMenu}}"></i>
                      <span class="vsm-title">{{m2.libelleMenu}}</span>
                    </button>
                </ng-template>
                <ng-template *ngIf="m2.hasSousMenu" ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list" >
                      <div class="vsm-item" *ngFor="let m3 of m2.children">
                        <a routerLinkActive="active-item" routerLink="{{m3.urlMenu}}"
                           class="vsm-link"> <span
                          class="vsm-title">{{m3.libelleMenu}}</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
