
<div id="notfound" class="d-flex">
  <div class="align-items-center align-self-center m-auto">
      <div class="">
        <img style="margin: 0 auto; width: 20em; display: flex" src="assets/images/notfound.png" alt="" />
      </div>
    <h3 class="text-uppercase text-center">
      <span >
        {{ message?.title || message || ' Aucune donnée trouvée'}}
      </span>
<!--      <span *ngIf="!message">-->
<!--     -->
<!--      </span>-->
    </h3>
<!--    <p>{{message.content}}</p>-->
<!--    <p>La liste des {{message.message || 'données'}} est vide. Vous pouvez actualiser la page en cliquant sur le bouton ci-dessous</p>-->
    <div class="text-center mt-2">
      <button (click)="refreshClick($event)" class="btn btn-primary">{{btnTitle}}</button>
    </div>
  </div>
</div>

