<!--<div class="row">-->
<!--  <div class="card">-->
<!--    <div class="card-header m-3">-->
<!--      <div class="card-title h5 bg-white font-weight-bold">-->
<!--        Gestion des droits d'accès-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-table-header
  [header]="header"
>

</app-table-header>
<hr class="m-1 p-1">
<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="row w-100 overflow-scroll">
        <ol class="list-group col-3">
          <li *ngFor="let p of allProfil" (click)="profilClicked(p)" role="button"
              class="list-group-item-action list-group-item justify-content-between
                align-items-start border {{profilSelected  && profilSelected.profilID === p.profilID? 'active':''}}">
            <div class="ms-2 me-auto">
              <p style="width: 10em" #profilabel class="fw-bold">{{p.libelleProfil}}</p>
              <!--                   Assigné à {{getNombreUser()}} utilisateurs-->
            </div>
            <!--                <span class="badge bg-primary rounded-pill">14</span>-->
            <!--                <div class="divider m-0 p-0"></div>-->
          </li>
        </ol>
        <div class="col border-primary border overflow-scroll justify-content-center">
          <div class="row">

            <!--            <li-->
            <!--              class="list-group-item border d-flex justify-content-between align-items-start list-group-item-action {{m.parentIdMenu ==0? 'active' : ''}}">-->
            <!--              <div class="ms-2 me-auto">-->
            <!--                <div class="fw-bold vsm-link butt" *ngIf="m.parentIdMenu !=0">-->
            <!--                  <i class="vsm-icon pe-7s-{{m.iconMenu}} mr-2">-->
            <!--                  </i>-->
            <!--                  <span class="vsm-title">{{m.libelleMenu}}</span>-->
            <!--                </div>-->
            <!--                <div class="fw-bold" *ngIf="m.parentIdMenu ==0">{{m.libelleMenu}}</div>-->
            <!--                &lt;!&ndash;                  Assigné à {{getNombreUser()}} utilisateurs&ndash;&gt;-->
            <!--              </div>-->
            <!--              <span class="badge bg-{{p%5===0? 'white text-primary':'primary'}} rounded-pill">14</span>-->
            <!--            </li>-->


            <div *ngFor="let m of allMenuForW" class="col-4 list-group mt-1">

              <div (click)="menuClicked(m)"
                   class="list-group-item border d-flex justify-content-between align-items-start list-group-item-action"
                   role="button">
                <div *ngIf="currentAcceder" class="ms-2 me-auto justify-content-center">
                  <div class="justify-content-center m-auto d-flex" *ngIf="m.parentIdMenu !=0">
                    <i class="vsm-icon pe-7s-{{m.iconMenu}} fs-5 mr-2">
                    </i>
                    <span class="vsm-title">{{m.libelleMenu}}</span>
                  </div>
                  <div *ngIf="m.parentIdMenu ==0">{{m.libelleMenu}}</div>
                  <!--                  Assigné à {{getNombreUser()}} utilisateurs-->
                </div>
                <span *ngIf="hasMenu(m)>=0"
                      class="badge fs-5 rounded-pill material-icons text-primary">check_circle</span>
                <span *ngIf="hasMenu(m)<0" class="badge fs-5 rounded-pill material-icons text-danger">cancel</span>


                <!--                <p>{{m.libelleMenu}}</p>-->
                <!--                <div *ngIf="currentAcceder" class="badge badge-pill">-->
                <!--                  <span *ngIf="hasMenu(m)" class="material-icons text-primary">check_circle</span>-->
                <!--                  <span *ngIf="!hasMenu(m)" class="material-icons text-danger">cancel</span>-->
                <!--                </div>-->
                <!--                   Assigné à {{getNombreUser()}} utilisateurs-->
              </div>
              <!--              <p  class="list-group-item list-group-item-action">{{m.libelleMenu}}</p>-->
            </div>
          </div>
        </div>
      </div>
      <!-- LISTE DES PROFIL-->
      <!--      <div class="overflow-scroll row w-100" style="height: 55vh;">-->
      <!--        <div class="p-0 m-0 row mb-2"  *ngFor="let m of allMenu; let mIndex = index">-->
      <!--          <ol class="list-group">-->
      <!--            <li-->
      <!--              class="list-group-item border d-flex justify-content-between align-items-start list-group-item-action {{m.parentIdMenu ==0? 'active' : ''}}">-->
      <!--              <div class="ms-2 me-auto">-->
      <!--                <div class="fw-bold vsm-link butt" *ngIf="m.parentIdMenu !=0">-->
      <!--                  <i class="vsm-icon pe-7s-{{m.iconMenu}} mr-2">-->
      <!--                  </i>-->
      <!--                  <span class="vsm-title">{{m.libelleMenu}}</span>-->
      <!--                </div>-->
      <!--                <div class="fw-bold" *ngIf="m.parentIdMenu ==0">{{m.libelleMenu}}</div>-->
      <!--                &lt;!&ndash;                  Assigné à {{getNombreUser()}} utilisateurs&ndash;&gt;-->
      <!--              </div>-->
      <!--              &lt;!&ndash;                <span class="badge bg-{{p%5===0? 'white text-primary':'primary'}} rounded-pill">14</span>&ndash;&gt;-->
      <!--            </li>-->
      <!--            &lt;!&ndash;              <li class="divider m-0 p-0"></li>&ndash;&gt;-->
      <!--          </ol>-->

      <!--          <ol class="row col m-0 p-0">-->
      <!--            <li *ngFor="let pp of allProfil; let pIndex = index "-->
      <!--                class="d-flex col  justify-content-between align-items-start border">-->
      <!--              <div (click)="giveAccess(m, m.menuID, pp, pp.profilID)" class="m-auto" role="button">-->
      <!--                <div  style="max-width: 10em"  class="fw-bold p-1 m-auto d-flex justify-content-center">-->
      <!--                  <span *ngIf="pIndex%2 === 0" class="material-icons text-primary">check_circle</span>-->
      <!--                  <span *ngIf="pIndex%2 !== 0" class="material-icons text-danger">cancel</span>-->
      <!--                </div>-->
      <!--                &lt;!&ndash;                   Assigné à {{getNombreUser()}} utilisateurs&ndash;&gt;-->
      <!--              </div>-->
      <!--              &lt;!&ndash;               <div class="divider m-0 p-0"></div>&ndash;&gt;-->
      <!--            </li>-->
      <!--          </ol>-->
      <!--        </div>-->

      <!--      </div>-->
    </div>
  </div>
</div>
