
.list-group-item.active {
  color: black;
  background-color: var(--bs-secondary);
}

.active-3 {
  color: black;
  background-color: rgba( var(--bs-secondary), .5);
}
.badge {

}

.custom-header::after {
  content: none;
}

.accordion-button::after{
  display: none;
}
.accordion-button:focus{
  border-color: transparent !important;
  box-shadow: unset;
  font-weight: bold;
}
.accordion-button:not(.collapsed){
  color: var(--bs-primary) !important;
}
