/* You can add global styles to this file, and also import other style files */
@import "assets/base";
@import "styles/variable";
//
//
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "src/styles/icon-font.min";

bs-datepicker-container, bs-daterangepicker-container {
  z-index: 10000000000 !important;
}

.offcanvas-bottom .btn {
  font-size: 1.5em !important;
}


